<!-- <div class="container-fluid"> -->

	<div class="close-modal close-workshops-modal">
		<i class="far fa-times-circle"></i>
	</div>

	<% let color = "nucleum-black-2";%>
	<% workshops.forEach( (workshop) => { %>
		<% if(color === "nucleum-black-2"){ %>
		<%     color = "nucleum-black-3" %>
		<% } else if(color === "nucleum-black-3"){ %>
		<%	   color = "nucleum-black-2" %>
		<% } %>
		<div class="row <%= color %>">
			<div class="container-fluid workshopm-content-container text-center" >
					<h1> <%= workshop.name %> </h1>
					<h2> <%= workshop.teacher %> </h2>
					<div class="row">
						<% workshop.schedules.forEach( (schedule) => { %>
							<h4> <%= schedule %> </h4>
						<% })%>
					</div>
					<br>

			<%     if(workshop.image !== "/images/workshops/workshop-test.png"){ %>
					<img class="img-responsive" src=" <%= workshop.image %>">
			<%     }  %>
<!-- 					<div>
						<img class="img-responsive" src=" <%= workshop.image %>">						
					</div>
 -->
					<br>
					<p class="text-justify"> <%= workshop.body %></p>
			</div>
		</div> <!-- .row -->
	<%})%>	
<!-- 	<div class="row">
		<div class="col-1-1">
	    	<button class="btn btn-default close-workshops-modal">Close</button>
		</div>
	</div> -->
<!-- </div> -->


