<!-- <div class="container-fluid"> -->

	<% let color = "nucleum-black-2";%>
	<% business.forEach( (business) => { %>

		<% if(color === "nucleum-black-2"){ %>
		<%     color = "nucleum-black-3" %>
		<% } else if(color === "nucleum-black-3"){ %>
		<%	   color = "nucleum-black-2" %>
		<% } %>

		<div class="row <%= color %>">
			<div class="container-fluid businessm-content-container text-center" >
					<h1> <%= business.name %> </h1>
					<div class="row">

							<h4> <%= business.schedule %> </h4>

					</div>
					<br>
					<div>
						<img style="max-height: 150px;" class="img-responsive" src=" <%= business.image %>">						
					</div>
					<br>
					<p class="text-justify"> <%= business.body %></p>
			</div>
		</div> <!-- .row -->

	<%})%>	
<!-- </div> -->


