
<!-- <div class="container-fluid"> -->

	<% let color = "nucleum-black-2";%>
	<% let align = "right";%>
	<% panelists.forEach( (panelist) => { %>

		
		<% if(color === "nucleum-black-2"){ %>
		<%     color = "nucleum-black-3" %>
		<% } else if(color === "nucleum-black-3"){ %>
		<%	   color = "nucleum-black-2" %>
		<% } %>

		<div class="row <%= color %>">


				<div class="col-2-3 panelistm-info-container">
					<h2 class="pull-left"> <%= panelist.name %> </h2>
					<p class="pull-left text-justify"> <%= panelist.body %></p>
				</div>
				<div class="col-1-3 panelistm-img-container">
					<img class="img-responsive" src=" <%= panelist.image %>">
				</div>


<!-- 
			<div class="col-2-3 panelistm-info-container">
				<h2 class="pull-left"> <%= panelist.name %> </h2>
				<p class="pull-left text-justify"> <%= panelist.body %></p>
			</div>
			<div class="col-1-3 panelistm-img-container">
				<img class="img-responsive" src=" <%= panelist.image %>">
			</div> -->
		</div>
	<%})%>


<!-- </div> -->
	

