
<!-- <div class="container-fluid"> -->

	<div class="close-panelists-modal">
		<i class="far fa-times-circle"></i>
	</div>
	<% let color = "nucleum-black-2";%>
	<% let align = "right";%>
	<% panelists.forEach( (panelist) => { %>

		
		<% if(color === "nucleum-black-2"){ %>
		<%     color = "nucleum-black-3" %>
		<% } else if(color === "nucleum-black-3"){ %>
		<%	   color = "nucleum-black-2" %>
		<% } %>

		<div class="row <%= color %>">


				<div class="panelistm-info-container" style="max-width: 860px;float: left;">
					<h2> <%= panelist.conference.name %> </h2>
					<div class="row">
						<div class="col-1-2" style="width: 100%">
							<h2> <%= panelist.name %> </h2>
						</div>
						<div class="col-1-2" style="width: 0px;">
							<!-- Here goes schedule -->
						</div>
					</div>
					

					<p class="text-justify"> <%= panelist.conference.description %></p>

					<p class="text-justify"> 
						<% panelist.captions.forEach((caption) => { %>
						<%= caption %>
						<% }) %>
							
					</p>
				</div>

				<div class="col-1-3 panelistm-img-container">

			<%     if(panelist.image !== "/images/panelists/conference-test.png"){ %>
					<img class="img-responsive" src=" <%= panelist.image %>">
			<%     } else { %>
					<div class="<%= color %>">
						<h2 class="text-center" style="margin-top: 40%; color: white">Espéralo...</h2>
					</div>
			<%     } %>
					<!-- <img class="img-responsive" src=" <%= panelist.image %>"> -->
				</div>


<!-- 
			<div class="col-2-3 panelistm-info-container">
				<h2 class="pull-left"> <%= panelist.name %> </h2>
				<p class="pull-left text-justify"> <%= panelist.body %></p>
			</div>
			<div class="col-1-3 panelistm-img-container">
				<img class="img-responsive" src=" <%= panelist.image %>">
			</div> -->
		</div>
	<%})%>


<!-- </div> -->
	

