<!-- <div class="container-fluid"> -->
	<div class="close-modal close-visits-modal">
		<i class="far fa-times-circle"></i>
	</div>

	<% let color = "nucleum-black-2";%>
	<% visits.forEach( (visit) => { %>

		<% if(color === "nucleum-black-2"){ %>
		<%     color = "nucleum-black-3" %>
		<% } else if(color === "nucleum-black-3"){ %>
		<%	   color = "nucleum-black-2" %>
		<% } %>

		<div class="row <%= color %>">
			<div class="container-fluid visitm-content-container text-center" >
					<h1> <%= visit.name %> </h1>
					<div class="row">
						<% visit.schedules.forEach( (schedule) => { %>
							<h4> <%= schedule %> </h4>
						<% })%>
					</div>
					<br>
					<div>
						<img style="max-height: 150px;" class="img-responsive" src=" <%= visit.image %>">						
					</div>
					<br>
					<p class="text-justify"> <%= visit.body %></p>
			</div>
		</div> <!-- .row -->
	<%})%>	
<!-- </div> -->


