
<!DOCTYPE html>
<html>
	<head>
		<title>Congreso Nucleum 2018</title>
		<!-- For displaying mexican accents and shit -->	
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta charset="utf-8" />
		<!-- Fonts and icons -->
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
			<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
			<link rel="shortcut icon" type="image/png" href="images/nucleum-icon-orange.png">

		<!-- Stylesheets -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/basic-theme.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/responsive-grid.css">

			<link rel="stylesheet" type="text/css" href="/stylesheets/modals.css">
			<link rel="stylesheet" href="/stylesheets/main.css">
			<link rel="stylesheet" href="/stylesheets/foreigners/foreigners-weather.css">
			<link rel="stylesheet" href="/stylesheets/foreigners/foreigners-maps.css">  
			<link rel="stylesheet" href="/stylesheets/foreigners/weather-icons.min.css">
			<link rel="stylesheet" href="/stylesheets/nucleum-colors.css">


	</head>
	<body>


		<% include partials/navbar %>
		<% include partials/navbar-back %>



		<div class="container-body">


			<div class="jumbotron nucleum-black-3">
				<div class="container weather-content-container">
					<div class="row nucleum-blue-2">
						<div class="col-1-3 text-center">
							<div class="container-fluid nucleum-blue-3 today-content-container">
								<h2> <%= forecast[0].weekday %> </h2>
								<i class=" <%= forecast[0].icon_class %> "></i>
								<p><%= today.weather[0].description %></p>
								<p><%= today.main.temp %> ºC</p>
								<p><%= today.main.humidity %> % de humedad en el aire</p>
							</div>
						</div>
						<div class="col-2-3 text-center">
							<div class="nucleum-blue-2 forecast-content-container">
								<% forecast.forEach((weatherLater) => { %>
									<div class="weekday-content-container">
										<h3> <%= weatherLater.weekday %></h3>
										<i class=" <%= weatherLater.icon_class %> "></i>
										<p> <%= weatherLater.temp_max %> ºC </p>
										<p> <%= weatherLater.temp_min %> ºC </p>
									</div>
								<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="jumbotron nucleum-black-2">
				<div class="container maps-content-container">
					<div class="row">
						<div class="col-1-3">
							<h3 class="text-center" style="color: white">Hotel anfitrión</h3>
						</div>
						<div class="col-2-3">
							<div id="map" style="height: 300px;"></div>					
						</div>
					</div>
				</div>
			</div>

			
 		<% include partials/footer-view %>
		</div>



		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script>
		  var map;
		  function initMap() {
		    map = new google.maps.Map(document.getElementById('map'), {
			      	center: {lat: 25.6488054, lng: -100.28976979999999},
			      	zoom: 16,
			      	scrollwheel: false
		    	});
		    	marker = new google.maps.Marker({
			      	position: {lat: 25.6488054, lng: -100.28976979999999},
			      	map: map
		    	});
		  	}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTtE7rYSAr9ktp1HrXowX6K6hFUFuFXFg&callback=initMap"async defer></script>
	</body>
</html>