
<!DOCTYPE html>
<html>
	<head>
		<title>Congreso Nucleum 2018</title>
		<!-- For displaying mexican accents and shit -->	
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta charset="utf-8" />
		<!-- Fonts and icons -->
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
			<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<!-- Stylesheets -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/basic-theme.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/responsive-grid.css">

			<link rel="stylesheet" type="text/css" href="/stylesheets/modals.css">
			<link rel="stylesheet" href="/stylesheets/main.css">
			<link rel="stylesheet" href="/stylesheets/foreigners.css">
			<link rel="stylesheet" href="/stylesheets/nucleum-colors.css">
			<link rel="stylesheet" href="/stylesheets/weather-icons.min.css">

	</head>
	<body>


		<% include partials/navbar %>
		<% include partials/navbar-back %>



		<div class="container-body">

			<div class="jumbotron">
				<div class="container">
					<div class="row nucleum-blue-2">
						<div class="col-1-3 text-center">
							<div class="container-fluid nucleum-blue-3 weather-content-container">
								<% weatherToday = forecast[0]%>
								<% forecast.shift() %>

								<h2> <%= weatherToday[0].weekday %> </h2>
								<h3> <%= weatherToday[0].hour %> hrs</h3>
								<i class=" <%= weatherToday[0].icon_class %> "></i>
								<p>Min: <%= weatherToday[0].temp_min %> ºC</p>
								<p>Actual: <%= weatherToday[0].temp %> ºC</p>
								<p>Max: <%= weatherToday[0].temp_max %> ºC</p>
								<hr>

								<% weatherToday.shift() %>
								<table style="margin: auto">
									<% weatherToday.forEach((weather) => { %>
										<tr>
											<td><%= weather.hour %> hrs:</td>
											<td><%= weather.temp %> ºC</td>
										</tr>
									<% }) %>
								</table>

							</div>
						</div>

						<div class="col-2-3">
							<div class="row">
								
								<% forecast.forEach((weatherLater) => { %>
									<div style="width: 20%;float: left">
										<table style="margin: auto">

											<h3 class="text-center"> <%= weatherLater[0].weekday %></h3>

											<% weatherLater.forEach((weather) => { %>
												<tr>
													<td><%= weather.hour %> hrs:</td>
													<td><%= weather.temp %> ºC</td>
												</tr>	
											<% }) %>
										</table>
									</div>
								<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>

			
 		<% include partials/footer-view %>
		</div>



	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>


	</body>
</html>