<!-- Trigger/Open The Modal -->


<div class="row" id="block3">
  <div class='col-1-1'>
  	<div class="container">
  		<div class="workshops-header-container">
  			<div class="container-fluid nucleum-blue-1tr">
				<h3 class="text-center">Talleres</h3>
			</div>
  		</div>

      <div class="workshops-content-container text-center">
        <div class="workshops-overlay open-workshops-modal"></div>
        <table>
          <!-- <div class="workshops-overlay"></div> -->
          <tr> 
            <td class="nucleum-black-3"> <%= workshops[0].name%></td>
            <td class="nucleum-black-2"> <%= workshops[1].name%></td>
            <td class="nucleum-black-1"> <%= workshops[2].name%></td>
            <td class="nucleum-black-2"> <%= workshops[3].name%></td>
          </tr>
        </table>

        <div class="workshops-overlay open-workshops-modal"></div>
        <table class="open-workshops-modal">
          <tr>
            <td class="nucleum-black-3"> <%= workshops[4].name%></td>
            <td class="nucleum-black-2"> <%= workshops[5].name%></td>
            <td class="nucleum-black-1"> <%= workshops[6].name%></td>
            <td class="nucleum-black-2"> <%= workshops[7].name%></td>
            <td class="nucleum-black-3"> <%= workshops[8].name%></td>
          </tr>
        </table>

        <div class="workshops-overlay open-workshops-modal"></div>
        <table class="open-workshops-modal">
          <tr>
            <td class="nucleum-black-2"> <%= workshops[9].name%></td>
            <td class="nucleum-black-1"> <%= workshops[10].name%></td>
            <td class="nucleum-black-2"> <%= workshops[11].name%></td>
            <td class="nucleum-black-3"> <%= workshops[12].name%></td>
          </tr>
        </table>

      </div>

      <!-- The Modal -->
      <div id="workshops-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content-container container close-workshops-modal">
          <% include ../modals/modal-Workshops %>
        </div>

      </div>

  	</div>
  </div>
</div>