<!-- Trigger/Open The Modal -->


<div class="row nucleum-orange-1tr" id="block2">
<!-- <div class="row nucleum-orange-dark" id="block2"> -->

	<div class="col-1-1">
		<div class="container">
			<div class="row">

				<div class="col-1-2">
					<div class="panelists-img-container">
						<!-- <img class="img-responsive" src="/images/panelists-img.jpg"> -->
						<img class="img-responsive" src="/images/panelists/slideshow/slideshow-1.jpg">
					</div>
				</div>

				<div class="col-1-2" id="change-width">
					<div class="panelists-header-container">
						<div class="container-fluid nucleum-blue-1tr">
							<h3 class="text-center">Conferencias</h3>
						</div>
					</div>

					<!-- <a href="/panelists"> -->
						<div class="panelists-content-container">
							<div class="row text-center" id="open-panelists-modal">
								<div class="col-1-2 nucleum-black-1">
									<h3> <%= panelists[0].name%></h3>
									<p> <%= panelists[0].caption%></p>
								</div>
								<div class="col-1-2 nucleum-black-2">
									<h3> <%= panelists[1].name%></h3>
									<p> <%= panelists[1].caption%></p>
								</div>
								<div class="col-1-2 nucleum-black-2">
									<h3> <%= panelists[2].name%></h3>
									<p> <%= panelists[2].caption%></p>
								</div>
								<div class="col-1-2 nucleum-black-3">
									<h3> <%= panelists[3].name%></h3>
									<p> <%= panelists[3].caption%></p>
								</div>
								<div class="col-1-1 nucleum-black-1">
									<div class="last-panelist">
										<h3> <%= panelists[4].name%></h3>
										<p> <%= panelists[4].caption%></p>										
									</div>
								</div>
							</div>
						</div>
					<!-- </a> -->
				</div>

<!-- The Modal -->
<div id="panelists-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content-container container">
    <% include ../modals/modal-Panelists %>
  </div>

</div>


			</div>
		</div>
	</div>
</div>